.portfolio-grid {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding: 0;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 48px;
    max-width: 1200px;
    margin: 0 auto 30px;
    padding: 48px 0 0 0;

    @media (width <= 768px) {
      grid-template-columns: 1fr;
      column-gap: 16px;
      row-gap: 0 !important;
      padding: 24px 0 0 0;
      width: calc(100% - 24px);
      max-width: calc(100% - 24px);
      margin: 0 auto;
    }
  }
}

.portfolio-card {
  position: relative;
  height: 500px;
  display: flex;
  flex-direction: column;
  background: transparent;
  border-radius: 12px;
  padding: 16px 0;

  @media (width <= 768px) {
    &:nth-child(3),
    &:nth-child(4) {
      display: none;
    }
  }

  &__title {
    padding: 0 0 6px 0;
    color: #222;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: left;
  }

  &__info {
    padding: 0 0 10px 0;
    color: #222;
    font-size: 0.9rem;
    text-align: left;

    &-container {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &-tag {
      color: #666;
      background: #f0f0f0;
      padding: 4px 12px;
      border-radius: 20px;
      font-size: 0.8rem;
    }
  }

  &__image-wrapper {
    width: 100%;
    height: calc(100% - 150px);
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgb(0 0 0 / 6%);
    position: relative;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
    transform-origin: center;
    display: block;
  }

  // Зум изображения при наведении на image-wrapper
  &__image-wrapper:hover &__image {
    transform: scale(1.1);
  }

  &__price {
    padding: 10px 0 0 0;
    color: #222;
    font-size: 0.9rem;
    text-align: left;

    &-container {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &-label {
      color: #666;
      font-size: 1rem;
    }

    &-value {
      font-weight: 700;
      color: #222;
      font-size: 1.2rem;
    }
  }
}

// Стили для кнопки "Больше наших работ"
.portfolio-grid__button {
  display: block;
  text-align: center;
  max-width: 240px;
  margin: 0 auto 48px;
  padding: 12px 32px;
  background: var(--color-green);
  color: white !important;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition:
    background 0.2s,
    box-shadow 0.2s;
  box-shadow: 0 2px 8px rgb(136 165 147 / 8%);
  text-decoration: none;

  @media (width <= 768px) {
    margin-bottom: 24px;
    padding: 12px 24px;
  }

  &:hover,
  &:focus {
    background: #6e8c7a;
    box-shadow: 0 4px 16px rgb(136 165 147 / 18%);
  }
}
