# Bitrix24 Configuration
# Все значения должны быть получены из вашего Bitrix24 портала
BITRIX24_DOMAIN=your-bitrix-domain.bitrix24.ru
BITRIX24_REST_USER_ID=1
BITRIX24_WEBHOOK_TOKEN=your-webhook-token-here

# Yandex Maps API (опционально)
# Если не указан, будет использоваться версия API без ключа
YANDEX_MAPS_API_KEY=your-api-key-here

# Telegram заявки
TELEGRAM_BOT_TOKEN=your-telegram-bot-token
TELEGRAM_CHAT_ID=first-chat-id
TELEGRAM_CHAT_ID_2=second-chat-id
TELEGRAM_CHAT_ID_3=third-chat-id
