@use "normalize";
@use "fonts";
@use "variables";
@use "utils";
@use "globals";
@use "components/header/header";
@use "components/footer/footer";
@use "components/footer/useful-links";
@use "components/contact/contact-form";
@use "components/contact/contact-request";
@use "components/contact/contact-request-overlay";
@use "components/contact/contact-request-turnkey";
@use "components/contact/contacts";
@use "components/forms/form-validation";
@use "components/calculator/calculator";
@use "components/calculator/calculator-info";
@use "components/calculator/calculator-request";
@use "components/calculator/price-calc";
@use "components/portfolio/portfolio";
@use "components/portfolio/portfolio-filter";
@use "components/portfolio/portfolio-gallery";
@use "components/portfolio/portfolio-grid";
@use "components/portfolio/portfolio-service";
@use "components/portfolio/portfolio-turnkey";
@use "components/about/about";
@use "components/about/about-service";
@use "components/about/about-turnkey";
@use "components/about/about-turnkey-2";
@use "components/about/company-description";
@use "components/about/company-description-turnkey";
@use "components/services/services";
@use "components/services/advantages";
@use "components/services/advantages-service";
@use "components/services/advantages-turnkey";
@use "components/services/work-stages-service";
@use "components/services/work-stages-turnkey";
@use "components/services/what-we-paint-list";
@use "components/common/reviews";
@use "components/common/social-reviews";
@use "components/common/social-fixed";
@use "components/common/faq-common";
@use "components/common/legal-pages";
@use "components/common/full-width-image";
@use "components/common/error-404";
@use "components/common/success-modal";
@use "components/blog/blog";

// Стили для всех параграфов - растягивание на всю строку
p {
  display: block;
  width: 100%;
  box-sizing: border-box;
}
