---
import ReviewsCarousel from "./ReviewsCarousel.jsx";

const { reviews } = Astro.props;
---

<section class="reviews reveal-on-scroll">
  <div class="reviews__container">
    <div class="reviews__content">
      <h2 class="reviews__title">Отзывы о нашей работе</h2>
      <div class="reviews__desc">
        Мы всегда стремимся к совершенству и ценим каждого клиента. Ваши отзывы - важная часть
        нашей работы, ведь именно благодаря вашей обратной связи мы можем становиться лучше,
        совершенствовать сервис и поддерживать высокий уровень качества.<br /><br />
        <span class="reviews__desc-extra">
          Если вы уже воспользовались нашими услугами, расскажите о своём опыте! Нам важно знать,
          что вам понравилось, а что можно улучшить. Оставить отзыв можно в наших официальных
          аккаунтах в
          <a
            href="https://t.me/sk_rosa"
            target="_blank"
            rel="noopener noreferrer"
            class="reviews__account-link"
          >
            Telegram
          </a>,
          <a
            href="https://2gis.ru/firm/70000001110771901"
            target="_blank"
            rel="noopener noreferrer"
            class="reviews__account-link"
          >
            2GIS
          </a>,
          <a
            href="https://yandex.com/maps/org/rosa/244762145159/"
            target="_blank"
            rel="noopener noreferrer"
            class="reviews__account-link"
          >
            Яндекс.Картах
          </a>,
          <a
            href="https://vk.com/skrosa"
            target="_blank"
            rel="noopener noreferrer"
            class="reviews__account-link"
          >
            ВКонтакте
          </a>
          и других удобных для вас площадках.
        </span><br /><br />
        <span class="reviews__desc-extra">Спасибо за доверие и выбор нашей компании!</span>
      </div>
    </div>
    <ReviewsCarousel client:load reviews={reviews} />
    <div class="reviews__more">
      <a
        href="https://yandex.ru/maps/org/rosa/244762145159/reviews/"
        target="_blank"
        rel="noopener noreferrer"
        class="reviews__more-link"
      >
        Больше отзывов можно посмотреть тут
      </a>
    </div>
  </div>
</section>
