@use "helpers" as *;

.legal-page {
  &__container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }

  &__title {
    color: #1f2937;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__company-info {
    background: #f9fafb;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
  }

  &__section-title {
    color: #1f2937;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  &__list {
    margin-bottom: 20px;
  }

  &__back-button {
    margin-top: 50px;
    text-align: center;

    a {
      color: #fff;
      text-decoration: none;
      font-weight: 600;
      background: var(--color-green);
      padding: 0.8em 1.5em;
      border-radius: 8px;
      border: none;
      display: inline-block;
      font-size: 1rem;
      cursor: pointer;
      transition:
        background 0.2s,
        box-shadow 0.2s;
      box-shadow: 0 2px 8px rgb(136 165 147 / 8%);

      &:hover,
      &:focus {
        background: #6e8c7a;
        box-shadow: 0 4px 16px rgb(136 165 147 / 18%);
      }
    }
  }

  // Мобильные стили
  @media (width <= 768px) {
    &__container {
      margin: 30px 12px;
      padding: 0;
    }

    &__title {
      font-size: 1.8rem; // Увеличиваю размер шрифта заголовка
      margin-top: 50px; // Увеличиваю отступ сверху над заголовком до 50px
      margin-bottom: 20px;
    }

    &__company-info {
      padding: 16px;
      margin-bottom: 20px;
    }

    &__section-title {
      margin-top: 25px;
      margin-bottom: 12px;
      font-size: 1.2rem;
    }
  }
}
