// Стили для блока 'О компании'

.company-description {
  background: #fafafa;
  padding: 24px 0;
  width: 100%;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4px 0 0 0;
    margin-bottom: 0; // уменьшенный отступ после описания

    // Начальное состояние - скрыт слева
    opacity: 0;
    transform: translateX(-100px);
    transition:
      opacity 0.8s ease-out,
      transform 0.8s ease-out;

    // Состояние при появлении
    &--revealed {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: #222;
    margin-bottom: 2rem;
    padding-left: 12px;

    @media (width <= 768px) {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
      padding: 0 12px;
    }
  }

  &__text {
    font-size: 1.2rem;
    color: #444;
    line-height: 1.5;
    padding: 0 12px;

    p {
      margin-bottom: 1.2em;
    }
  }

  @media (width <= 900px) {
    padding: 32px 0;

    &__container {
      padding: 0;
    }

    &__title {
      font-size: 1.5rem;
    }
  }

  @media (width <= 768px) {
    &__container {
      width: calc(100% - 24px);
      max-width: calc(100% - 24px);
      margin: 0 auto;
    }

    &__text {
      font-size: 1rem;
      line-height: 1.6;

      p:nth-child(3) {
        display: none;
      }
    }
  }
}
